.individual-news-wrapper{ 
    max-width: 22rem;
}
.news-image-wrapper{
    position: relative;
}
.individual-image-not-found{
    height: 12rem;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-image{
    max-width: 22rem;
    min-height: 12rem;
    opacity: 0.9;
    object-fit: contain;
}
.news-info{
    position: absolute;
    bottom: 1rem;
    color: white;
    left: 2rem;
}
.news-individual-description{
    font-weight: 100;
    color: gray;
}