.news-image-wrapper{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   
}
.individual-image-not-found{
    height: 19rem;
    width: 100%;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-image{
    width: 100%;
    max-height: 19rem;
    object-fit:contain;
}
.news-info{
    position: absolute;
    bottom: 1rem;
    color: white;
    left: 5rem
}
.news-individual-description{
    font-weight: 100;
    color: gray; 
}
@media only screen and (max-width: 750px) {
    .news-image{
       
        max-height: 100%;
    }
}