.latest-release-card-wrapper{
    display: flex;
    gap:1rem;
}
.latest-release-image{
    width: 18rem;
    max-height: 20rem;
    object-fit: cover;
}
.latest-release-image-not-found{
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
}