.modal-wrapper{
    position: relative;
}
.search-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
}
.search-category-wrapper{
    display: flex;
    gap: 1rem;
}
.close-icon{
    /* font-size: 3rem; */
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.search-form{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 750px) {
    .ReactModal__Content{
       width: 80%;
    }
    .search-category-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}